.header{
  background: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  
  padding: 5rem 0 4.5rem 0;
  
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: 900;
}

.header img{
  height: 2.25rem;
}

.header p span{
  color: var(--purple-dark);
}